<h1>Inserisci persona</h1>

<div class="form-group">
    <label for="input-nome">Nome</label>
    <input type="text" class="form-control" id="input-nome" />
</div>

<div class="form-group">
    <label for="input-cognome">Cognome</label>
    <input type="text" class="form-control" id="input-cognome" />
</div>

<div class="form-group">
    <label for="input-eta">Età</label>
    <input type="text" class="form-control" id="input-eta" />
</div>

<button type="button" class="btn btn-success">Salva</button>